h1{
  //margin-top: 10%;
  text-align: center;
}

.rotatingText {
  align-items: center;
  text-align: center;
}

.rotatingText-content {
  position: relative;
  width: 100%;
}

.rotatingText-adjective {
  font-size: 15px;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;

  &:nth-of-type(1) {
    animation: rotate-text-up 4s 2s;
  }

  &:nth-of-type(2) {
    animation: rotate-text-up 4s 5s;
  }

  &:nth-of-type(3) {
    animation: rotate-text-up 4s 8s;
  }

  &:nth-of-type(4) {
    animation: rotate-text-up 4s 11s;
  }

  &:nth-of-type(5) {
    animation: rotate-text-up 4s 14s;
  }

  &:nth-of-type(6) {
    animation: rotate-text-up 4s 17s;
  }

  &:nth-of-type(7) {
    animation: fade-text-in 4s 20s forwards;
  }
}

@keyframes rotate-text-up {
  0% {
    transform: translate3d(0, 80px, 0);
    opacity: 0;
  }

  20%, 80% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  100% {
    transform: translate3d(0, -40px, 0);
    opacity: 0;
  }
}

@keyframes fade-text-in {
  0% {
    opacity: 0;
    transform: translate3d(0, 80px, 0);
  }

  50%, 100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.center {
  margin: auto;
  width: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #000000;
  color: #000000;
  box-shadow: 9999px 0 0 -5px #000000;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: .25s;
}

.dot-pulse::before, .dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #000000;
  color: #000000;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px #000000;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px #000000;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: .5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #000000;
  }
  30% {
    box-shadow: 9984px 0 0 2px #000000;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px #000000;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #000000;
  }
  30% {
    box-shadow: 9999px 0 0 2px #000000;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px #000000;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #000000;
  }
  30% {
    box-shadow: 10014px 0 0 2px #000000;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px #000000;
  }
}

.padding-loader {
  padding-bottom: 7%;
}
