<div class="d-flex bg-light flex-column justify-content-center">
  <section class="bg-light padding-loader">
    <h1 class="pt-4">Een moment geduld a.u.b.</h1>
    <div class="col-3 center">
      <div class="snippet" data-title=".dot-pulse">
        <div class="stage">
          <div class="dot-pulse"></div>
        </div>
      </div>
    </div>
    <div class="rotatingText">
      <div class="rotatingText-content">
        <h2 class="rotatingText-adjective">
          In afwachting van een scanner instantie...
        </h2>
        <h2 class="rotatingText-adjective">
          Website wordt toegevoegd aan wachtrij...
        </h2>
        <h2 class="rotatingText-adjective">
          Website performance wordt geanalyseerd...
        </h2>
        <h2 class="rotatingText-adjective">
          Website veiligheid wordt geanalyseerd...
        </h2>
        <h2 class="rotatingText-adjective">
          Website SEO wordt geanalyseerd...
        </h2>
        <h2 class="rotatingText-adjective">
          Veiligheidsrapport wordt gegenereerd...
        </h2>
        <h2 class="rotatingText-adjective">De scan is voltooid!</h2>
      </div>
    </div>
  </section>
</div>
