.green-color {
  background: #00c65b;
}

.light-green-color {
  background: #bed94c;
}

.yellow-color {
  background: #ffe500;
}

.orange-color {
  background: #ff9600;
}

.red-color {
  background: #ff3925;
}

.rose-color {
  background: #f597a9;
}
