.green-color {
  background: #00c65b;
}

.light-green-color {
  background: #bed94c;
}

.yellow-color {
  background: #ffe500;
}

.orange-color {
  background: #ff9600;
}

.red-color {
  background: #ff3925;
}

.rose-color {
  background: #f597a9;
}

@media screen and (max-width: 1380px) {
  .mobile {
    width: 30%;
  }
}

@media screen and (max-width: 1160px) {
  .mobile {
    width: 40%;
  }
}

@media screen and (max-width: 865px) {
  .mobile {
    width: 50%;
  }
}

@media screen and (max-width: 695px) {
  .mobile {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .mobile {
    width: 100%;
  }
}
