<div class="navbar bar-col h-16 bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </label>
      <ul
        tabindex="0"
        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52 text-col-override-dark"
      >
        <li>
          <a routerLink="/home">Home</a>
        </li>
        <li>
          <a routerLink="/faq">FAQ</a>
        </li>
        <li>
          <a
            href="https://getbigmarketing.nl/contact/"
            target="_blank"
            rel="noopener noreferrer"
            >Contact
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"
              />
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://getbigmarketing.nl/over-ons/"
            target="_blank"
            rel="noopener noreferrer"
            >Over ons
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"
              />
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <a href="/">
      <img
        class="h-12 w-12 object-cover object-left xs:w-auto xs:object-contain xs:object-center"
        [src]="
          (isDarkMode$ | async)
            ? 'assets/logos/Get-Big-Logo-Full-White.webp'
            : 'assets/logos/Get-Big-Logo-Full-Black.webp'
        "
        alt="Get Big Marketing & Webdesign"
      />
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal p-0">
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a routerLink="/faq">FAQ</a>
      </li>
      <li>
        <a
          href="https://getbigmarketing.nl/contact/"
          target="_blank"
          rel="noopener noreferrer"
          >Contact
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"
            />
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://getbigmarketing.nl/over-ons/"
          target="_blank"
          rel="noopener noreferrer"
          >Over ons
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"
            />
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <app-dark-mode-toggle></app-dark-mode-toggle>
  </div>
</div>
