<div class="min-w-max h-screen bg-base-200 inset-x-1/4 inset-y-1/4 m-auto py-48 text-center text-black sm:w-32 md:w-32 lg:w-11/12">
  <div class="row" style="text-align: center">
    <h1> {{ errorMessage }} </h1>
  </div>
  <hr><hr>
  <div class="row">
    <button class="btn btn-primary btn-success btn-lg pull-right" routerLink="/home">Return to home!</button>
  </div>
  <div>
    <div class="row" style="text-align: center">
      <img src="{{pickedPhoto}}"  alt="Error 404!" height="500px">
    </div>
    <div class="row" style="text-align: center">
      <img src="assets/404Photos/error_06.jpg"  alt="It's Happening!" height="300px">
    </div>
  </div>
  <hr><hr>
  <div class="row">
    <button class="btn btn-primary btn-success btn-lg pull-left" routerLink="/home">Return to home!</button>
  </div>
</div>
