.toggle {
  display: none;
}

.toggle-label {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  cursor: pointer;
}

.light,
.dark {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  transition: top 0.3s;
  user-select: none;
}

.light {
  top: 0;
}

.dark {
  top: -150%;
}

.toggle:checked + .toggle-label .light {
  top: 150%;
}

.toggle:checked + .toggle-label .dark {
  top: 0;
}
