<main *ngIf="!isScanning" class="m-auto space-y-6 py-16">
  <div class="container mx-auto px-1 space-y-1">
    <h1
      class="font-bold font-heading text-2xl sm:text-3xl text-center mx-auto max-w-prose"
    >
      Scan je website op kwetsbaarheden
    </h1>
    <h4
      class="text-center text-neutral text-md sm:text-lg mx-auto max-w-[55ch]"
    >
      Ontdek veel voorkomende kwetsbaarheden en kom erachter waar je website
      veiliger kan worden met een Security Check.
    </h4>
  </div>
  <div class="container mx-auto px-2">
    <div class="card shadow-xl bg-base-100 w-max max-w-fit mx-auto">
      <div class="card-body p-4 sm:p-8 text-left">
        <form
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          novalidate
          class="space-y-2"
        >
          <div class="relative flex">
            <span
              class="inline-flex items-center rounded-l-md border-t border-l border-b border-gray-300 bg-base-100 px-3 text-sm text-base-content shadow-sm"
            >
              http://
            </span>
            <input
              type="text"
              id="host"
              formControlName="host"
              required
              class="w-full flex-1 appearance-none rounded-r-lg border border-gray-300 bg-base-100 py-2 px-4 text-base text-base-content placeholder-neutral-content shadow-sm focus:border-transparent focus:outline-none focus:ring-2"
              name="host"
              placeholder="jouw-website.nl"
            />
          </div>
          <div class="flex items-center space-x-3">
            <input
              type="checkbox"
              id="rescan"
              formControlName="rescan"
              class="flex-shrink-0 form-check-input h-5 w-5 appearance-none rounded-md border-2 border-neutral bg-transparent checked:border-transparent checked:bg-neutral focus:outline-none transition duration-200 cursor-pointer"
            />
            <label
              for="rescan"
              class="w-auto form-check-label font-normal text-neutral"
              >Negeer resultaten uit de cache en forceer een nieuwe scan</label
            >
          </div>
          <div class="flex items-center space-x-3">
            <input
              type="checkbox"
              id="acceptTerms"
              formControlName="acceptTerms"
              class="flex-shrink-0 form-check-input h-5 w-5 appearance-none rounded-md border-2 border-neutral bg-transparent checked:border-transparent checked:bg-neutral focus:outline-none transition duration-200 cursor-pointer"
            />
            <label
              for="acceptTerms"
              class="form-check-label font-normal text-neutral"
              >Ik ga akkoord met de
              <a
                class="link-primary"
                href="https://getbigmarketing.nl/algemene-voorwaarden/"
                target="_blank"
                rel="noopener noreferrer"
              >
                voorwaarden</a
              >
            </label>
          </div>

          <div class="card-actions justify-center">
            <button
              type="button"
              class="btn-gbm sm:btn-wide"
              (click)="onSubmit()"
            >
              <svg
                data-id="heroicon-solid"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="mr-2 -ml-1 h-5 w-5 flex-shrink-0"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817
            4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                  clip-rule="evenodd"
                />
              </svg>
              Start Scan
            </button>
          </div>
          <div class="card-actions" *ngIf="form.invalid && hasClickedSubmit">
            <div class="alert alert-error shadow-lg">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="stroke-current flex-shrink-0 h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
                <span *ngIf="host.invalid">De domein naam is incorrect.</span>
                <span *ngIf="acceptTerms.invalid && host.valid"
                  >U moet akkoord gaan met de voorwaarden.</span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
<app-load-scan *ngIf="isScanning"></app-load-scan>
