<div>
  <div class="absolute inset-x-1/4 inset-y-1/4 card w-100 bg-base-100 shadow-xl mx-auto p-12 bg-gray-700 text-white">
    <div class="card-body items-center">
      <h3 class="card-title">
        Benieuwd hoe veilig je website is?<br>
        Scan je Website gratis hier bij ons</h3>
      <input type="text" placeholder="Type here" class="input input-ghost w-full max-w-xs border-accent">
      <div class="card-actions justify-center">
        <button class="btn btn-wide bg-pink-400"><a routerLink="/loadScan" routerLinkActive="active">Jouw scan aanvragen!</a></button>
      </div>
<!--checkbox-->
      <div class="form-control">
        <label class="label cursor-pointer">
          <input type="checkbox" class="checkbox border-white">
          <span class="label-text text-white"> Ga je akkoord met alle voorwaarden?</span>
        </label>
      </div>
    </div>
  </div>
</div>
