/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@mixin font-face($name, $folder, $fileinfo: "", $weight: 400, $style: normal) {
  @font-face {
    font-family: $name;
    src: url(quote(
        "/assets/fonts/" + $folder + "/" + $folder + $fileinfo + ".woff"
      )),
      url(quote("/assets/fonts/" + $folder + $folder + $fileinfo + ".woff"));
    font-weight: $weight;
    font-style: $style;
  }
}

@include font-face("Geometos Rounded", "geometos-rounded");
@include font-face("Nunito Sans", "nunito-sans", "-v11-latin-regular");
@include font-face("Nunito Sans", "nunito-sans", "-v11-latin-700", 700);
@include font-face(
  "Nunito Sans",
  "nunito-sans",
  "-v11-latin-italic",
  400,
  italic
);
@include font-face(
  "Nunito Sans",
  "nunito-sans",
  "-v11-latin-700italic",
  700,
  italic
);

.btn-gbm {
  @apply btn text-white border-none font-geometos hover:bg-gradient-to-r hover:from-primary ease-in-out hover:to-secondary duration-500 bg-primary;
}

body {
  background: var(--bkg-color);
}

.table tbody td,
.table tbody th,
.table thead th {
  background-color: transparent;
}

.table * {
  border: none;
}

h1 {
  color: #000000;
}

body:not(.dark-mode-preloading) {
  transition: all 0.3s linear;
}

body.dark-mode {
  background-color: #1e1e20;
  color: #dfe6e9;
  .bar-col {
    background-color: #000000;
  }
}

body.dark-mode h1,
body.dark-mode h4,
body.dark-mode p {
  color: #ffffff;
}

body.light-mode {
  background-color: #dfe6e9;
  color: #2d3436;
  .bar-col {
    background-color: #ffffff;
  }
}

body.light-mode h1,
body.light-mode h4,
body.light-mode p {
  color: #000000;
}

.text-col-override-dark {
  color: #000000 !important;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.logo-resize {
  width: 25%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centertext {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
