/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
}

.table tbody td,
.table tbody th,
.table thead th {
  background-color: transparent;
}

.table * {
  border: none;
}
