/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
  width: 100%;
  padding: 0;
  overflow-x: hidden;
}

body {
  margin: 0;
  background: var(--bkg-color);
}

.table tbody td,
.table tbody th,
.table thead th {
  background-color: transparent;
}

.table * {
  border: none;
}

body {
  margin: 0;
  height: 100%;
}

h1 {
  color: #000000;
}

body:not(.dark-mode-preloading) {
  transition: all 0.3s linear;
}

body.dark-mode {
  background-color: #2d3436;
  color: #dfe6e9;
}

body.dark-mode h1, body.dark-mode h4 {
  color: #ffffff;
}

body.light-mode {
  background-color: #dfe6e9;
  color: #2d3436;
}

body.light-mode h1, body.light-mode h4 {
  color: #000000;
}

.h1-col-override {
  color: #000000 !important;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.logo-resize {
  width: 25%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centertext {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
