a:hover {
  color: black;
  transition: 1s;
}
.colorize {
  background-color: #f597a9;
  color: azure;
}
.colorize:hover {
  color: white;
  background-color: #ffc501;
  transition: 2s;
}

.colorize:active {
  background-color: #ffc501;
  color: white;
}

.colorize:focus {
  background-color: #ffc501;
  color: white;
}

@media only screen and (max-width: 900px){
  button {
    text-align: left;
  }

}

