<!--<h1>-->
<!--  Veelgestelde vragen:-->
<!--</h1>-->
<!--&lt;!&ndash;<accordion [isAnimated]="true" [closeOthers]="true">&ndash;&gt;-->
<!--<accordion>-->
<!--  <accordion-group heading="Wie heeft de site gemaakt?">-->
<!--    <p>-->
<!--      De site is gemaakt door FML Consultancy in samenwerking met <a href="https://getbigmarketing.nl/">Get Big Marketing</a>-->
<!--    </p>-->
<!--  </accordion-group>-->
<!--  <accordion-group heading="Hoe wordt de security scan gedaan?">-->
<!--    <p>De security scan wordt uitgevoerd via de <a href="https://observatory.mozilla.org/">Mozilla observatory API</a></p>-->
<!--  </accordion-group>-->
<!--  <accordion-group heading="Waar is de scoringsmethodiek op gebaseerd?">-->
<!--    <p>Het is buitengewoon moeilijk om een objectieve waarde toe te kennen aan een subjectieve vraag als "Hoe slecht is het niet implementeren van HTTP Strict Transport Security?" Dit wordt gecompliceerd door het feit dat wat voor de ene site misschien niet nodig is, zoals het implementeren van een inhoudsbeveiligingsbeleid, belangrijke risico's voor een andere site kan verkleinen.</p>-->
<!--    <p>De scores en cijfers die door het Mozilla Observatorium worden aangeboden, zijn ontworpen om ontwikkelaars te waarschuwen wanneer ze geen gebruik maken van de nieuwste webbeveiligingsfuncties, zoals aanbevolen in Mozilla's <a href="https://wiki.mozilla.org/Security/Guidelines/Web_Security">web security guidelines</a> en server-side <a href="https://wiki.mozilla.org/Security/Server_Side_TLS">server side TLS guidelines</a>. Individuele ontwikkelaars zullen moeten bepalen welke van deze beveiligingstechnologieën geschikt is voor hun sites.</p>-->
<!--  </accordion-group>-->
<!--  <accordion-group heading="Wat is de minimaal en maximaal mogelijke score?">-->
<!--    <p>De huidige maximaal mogelijke score is 135 van de 100. De minimumscore is altijd 0, ongeacht hoe slecht een site het doet.</p>-->
<!--    <p>Voor technische details, zie <a href="https://github.com/mozilla/http-observatory/blob/master/httpobs/scanner/grader/grade.py">grade.py</a>, en om een lijst van de meest recente "perfecte" scorewebsites te zien, kunt u de <a href="https://http-observatory.security.mozilla.org/api/v1/getRecentScans?min=135&amp;num=25">getRecentScans API</a> gebruiken.</p>-->
<!--  </accordion-group>-->
<!--  <accordion-group heading="Kan ik meer dan 100 scoren? Hoe is dat mogelijk?">-->
<!--    <p>Sommige tests kennen positieve scores toe, zoals +5 of +10 punten. Waarom? Zie het als het krijgen van extra krediet voor het verder gaan dan de plicht bij het verdedigen van uw website.</p>-->
<!--  </accordion-group>-->
<!--</accordion>-->
