<div class="accordion" id="accordionExample">
  <div class="accordion-item bg-white border border-gray-200">
    <h2 class="accordion-header mb-0" id="headingOne">
      <button
        class="accordion-button colorize collapsed relative center items-center w-full py-4 px-5 text-base text-gray-800 bg-white border-0 rounded-none transition focus:outline-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="false"
        aria-controls="collapseOne"
      >
        <strong>Wie heeft de site ontwikkeld?</strong>
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body py-4 px-5">
        <p class="text-center text-col-override-dark">
          De site is ontwikkeld door
          <a
            href="https://github.com/IPSEN5-groep-7-security-check"
            target="_blank"
            rel="noopener noreferrer"
            >FML Consultancy
          </a>
          in samenwerking met
          <a
            href="https://getbigmarketing.nl/"
            target="_blank"
            rel="noopener noreferrer"
            >Get Big Marketing</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item bg-white border border-gray-200">
    <h2 class="accordion-header mb-0" id="headingTwo">
      <button
        class="accordion-button colorize collapsed relative text-center items-center w-full py-4 px-5 text-base text-gray-800 bg-white border-0 rounded-none transition focus:outline-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        <strong>Hoe wordt de security scan gedaan?</strong>
      </button>
    </h2>
    <div
      id="collapseTwo"
      class="accordion-collapse collapse"
      aria-labelledby="headingTwo"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body py-4 px-5">
        <p class="text-center text-col-override-dark">
          De security scan wordt uitgevoerd via de
          <a
            href="https://observatory.mozilla.org/"
            target="_blank"
            rel="noopener noreferrer"
            >Mozilla observatory API</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item bg-white border border-gray-200">
    <h2 class="accordion-header mb-0" id="headingThree">
      <button
        class="accordion-button colorize collapsed relative text-center items-center w-full py-4 px-5 text-base text-gray-800 bg-white border-0 rounded-none transition focus:outline-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseThree"
        aria-expanded="false"
        aria-controls="collapseThree"
      >
        <strong>Hoe haal ik een volledige security scan op?</strong>
      </button>
    </h2>
    <div
      id="collapseThree"
      class="accordion-collapse collapse"
      aria-labelledby="headingThree"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body py-4 px-5">
        <p class="text-center text-col-override-dark">
          De site is ontwikkeld door
          <a
            href="https://github.com/IPSEN5-groep-7-security-check"
            target="_blank"
            rel="noopener noreferrer"
            >FML Consultancy
          </a>
          in samenwerking met
          <a
            href="https://getbigmarketing.nl/"
            target="_blank"
            rel="noopener noreferrer"
            >Get Big Marketing</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item bg-white border border-gray-200">
    <h2 class="accordion-header mb-0" id="headingFour">
      <button
        class="accordion-button colorize collapsed relative text-center items-center w-full py-4 px-5 text-base text-gray-800 bg-white border-0 rounded-none transition focus:outline-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFour"
        aria-expanded="false"
        aria-controls="collapseFour"
      >
        <strong>Waar is de scoringsmethodiek op gebaseerd?</strong>
      </button>
    </h2>
    <div
      id="collapseFour"
      class="accordion-collapse collapse"
      aria-labelledby="headingFour"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body py-4 px-5">
        <p class="text-center text-col-override-dark">
          Het is buitengewoon moeilijk om een objectieve waarde toe te kennen
          aan een subjectieve vraag als "Hoe slecht is het niet implementeren
          van HTTP Strict Transport Security?" Dit wordt gecompliceerd door het
          feit dat wat voor de ene site misschien niet nodig is, zoals het
          implementeren van een inhoudsbeveiligingsbeleid, belangrijke risico's
          voor een andere site kan verkleinen.
        </p>
        <p class="text-center text-col-override-dark">
          De scores en cijfers die door het Mozilla Observatorium worden
          aangeboden, zijn ontworpen om ontwikkelaars te waarschuwen wanneer ze
          geen gebruik maken van de nieuwste webbeveiligingsfuncties, zoals
          aanbevolen in Mozilla's
          <a
            href="https://wiki.mozilla.org/Security/Guidelines/Web_Security"
            target="_blank"
            rel="noopener noreferrer"
            >web security guidelines</a
          >
          en server-side
          <a
            href="https://wiki.mozilla.org/Security/Server_Side_TLS"
            target="_blank"
            rel="noopener noreferrer"
            >server side TLS guidelines</a
          >. Individuele ontwikkelaars zullen moeten bepalen welke van deze
          beveiligingstechnologieën geschikt is voor hun sites.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item bg-white border border-gray-200">
    <h2 class="accordion-header mb-0" id="headingFive">
      <button
        class="accordion-button colorize collapsed relative text-center items-center w-full py-4 px-5 text-base text-gray-800 bg-white border-0 rounded-none transition focus:outline-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFive"
        aria-expanded="false"
        aria-controls="collapseFive"
      >
        <strong>Wat is de minimaal en maximaal mogelijke score?</strong>
      </button>
    </h2>
    <div
      id="collapseFive"
      class="accordion-collapse collapse"
      aria-labelledby="headingFive"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body py-4 px-5">
        <p class="text-center text-col-override-dark">
          De huidige maximaal mogelijke score is 135 van de 100. De minimumscore
          is altijd 0, ongeacht hoe slecht een site het doet.
        </p>
        <p class="text-center text-col-override-dark">
          Voor technische details, zie
          <a
            href="https://github.com/mozilla/http-observatory/blob/master/httpobs/scanner/grader/grade.py"
            target="_blank"
            rel="noopener noreferrer"
            >grade.py</a
          >, en om een lijst van de meest recente "perfecte" scorewebsites te
          zien, kunt u de
          <a
            href="https://http-observatory.security.mozilla.org/api/v1/getRecentScans?min=135&amp;num=25"
            target="_blank"
            rel="noopener noreferrer"
            >getRecentScans API</a
          >
          gebruiken.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item bg-white border border-gray-200">
    <h2 class="accordion-header mb-0" id="headingSix">
      <button
        class="accordion-button colorize collapsed relative text-center items-center w-full py-4 px-5 text-base text-gray-800 bg-white border-0 rounded-none transition focus:outline-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseSix"
        aria-expanded="false"
        aria-controls="collapseSix"
      >
        <strong>Kan ik meer dan 100 scoren? Hoe is dat mogelijk?</strong>
      </button>
    </h2>
    <div
      id="collapseSix"
      class="accordion-collapse collapse"
      aria-labelledby="headingSix"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body py-4 px-5">
        <p class="text-center text-col-override-dark">
          Sommige tests kennen positieve scores toe, zoals +5 of +10 punten.
          Waarom? Zie het als het krijgen van extra krediet voor het verder gaan
          dan de plicht bij het verdedigen van uw website.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item bg-white border border-gray-200">
    <h2 class="accordion-header mb-0" id="headingSeven">
      <button
        class="accordion-button colorize collapsed relative text-center items-center w-full py-4 px-5 text-base text-gray-800 bg-white border-0 rounded-none transition focus:outline-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseSeven"
        aria-expanded="false"
        aria-controls="collapseSeven"
      >
        <strong
          >Is het mogelijk om API calls te maken naar de website van Get Big
          Marketing?</strong
        >
      </button>
      <!--TODO: Voeg tekst toe voor vraag, pas desnoods vraag aan-->
    </h2>
    <div
      id="collapseSeven"
      class="accordion-collapse collapse"
      aria-labelledby="headingSeven"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body py-4 px-5">
        <p class="text-center text-col-override-dark">
          De site is ontwikkeld door
          <a
            href="https://github.com/IPSEN5-groep-7-security-check"
            target="_blank"
            rel="noopener noreferrer"
            >FML Consultancy </a
          >in samenwerking met
          <a
            href="https://getbigmarketing.nl/"
            target="_blank"
            rel="noopener noreferrer"
            >Get Big Marketing</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
